body { 
    background-color: #DFF2F0;
    margin: 0;
    padding: 0;
    color: #0f4745;
    height: 100%;
    width: 100%;
}

.justify{
    text-align: justify;
}

.uitlijn{
    align-items: center;
}

.bgheader {
    background-color:#eafefd ;
}

.banner {
    width: 100%; 
    max-width: 600px; 
    margin: 0 auto; 
    object-fit: cover;
}

.nav-link{
    color: #0f4745;
}

.active{
    color: #0f4745;
    font-weight: 700;
}

.nav-link:hover { 
    color: #52935b;
    text-decoration: underline;
}


a{ 
    color: #0f4745;
    text-decoration: none;
}

a:hover{
    color: #52935b;
    text-decoration: underline;
}

.dropdown-item.active{
    color: #0f4745;
    background: none;
    font-size: 1.1rem;
}

.nav-link:focus{
    color: #0f4745;
    font-weight: bold;
}


.container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

main {
    
    padding: 25px 25px 0px 25px;
    border: 1px ;
    flex: 2;
}

aside {
    padding: 15px;
    max-width: 200px; 
    margin-left: 20px;
    flex: 1; 
}
.blauwgrijs {
    color: #587e8c;
  }

figcaption {
    font-style: italic;
    color: gray;
    font-size: 14px;
}
.project-image {
    float: left;
    max-width: 30%; 
    margin-right: 25px; 
    height: auto; 
}

.text-container {
    overflow: hidden; 
}
